<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:component-scan base-package="com.woniu.web.service"/>
	<!--资源文件解析器 -->
	<context:property-placeholder
		location="classpath:datasource.properties" />
	<!--配置C3P0连接池 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 提供数据库连接信息和连接池的常用信息 -->
		<!-- 驱动类 -->
		<property name="driverClass" value="${jdbc.driverClass}" />
		<!-- 连接数据库的地址 -->
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<!-- 连接数据库的用户名 -->
		<property name="user" value="${jdbc.user}" />
		<!-- 连接数据库的密码 -->
		<property name="password" value="${jdbc.password}" />

		<!-- 最大连接数 -->
		<property name="maxPoolSize" value="${c3p0.maxPoolSize}"></property>
		<!-- 最小连接数 -->
		<property name="minPoolSize" value="${c3p0.minPoolSize}"></property>
		<!-- 初始化连接数 -->
		<property name="initialPoolSize"
			value="${c3p0.initialPoolSize}"></property>
		<!-- 自增长连接数 -->
		<property name="acquireIncrement"
			value="${c3p0.acquireIncrement}"></property>
		<!-- 连接对象空闲时间 超出10分钟销毁 -->
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}"></property>
		<!-- 连接数据库的等待时间 超出等待时间 抛出异常 -->
		<property name="checkoutTimeout"
			value="${c3p0.checkoutTimeout}"></property>
		<!-- 检查连接的间隔时间 -->
		<property name="idleConnectionTestPeriod"
			value="${c3p0.idleConnectionTestPeriod}">
		</property>
	</bean>
	<!--在此之前要保证mybatis的包和mybatis给spring提供的插件包都要导入到项目中 -->
	<bean id="sessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--配置数据层查询文件(XxxMapper.xml文件)的地址 -->
		<property name="mapperLocations"
			value="classpath:mapper/*Mapper.xml" />
		<!-- 配置实体类的别名 -->
		<property name="typeAliasesPackage"
			value="com.woniu.web.entity" />
		<!--将Spring创建的c3p0连接池对象 注入给工厂对象 -->
		<property name="dataSource" ref="dataSource" />
		<!--配置mybatis的其他属性 -->
		<property name="configLocation" value="classpath:mybatis.xml"></property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.woniu.web.mapper" />
	</bean>
	<!--创建事务管理器对象 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!--将Spring创建的数据源对象注入到事务管理器对象中 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!--事务通知-->
    <!--定义在程序执行到切入点以后  具体的切面织入方式(哪些方法需要使用事务管理 哪些不需要)-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager" >
       <tx:attributes>
       	   <!--配置方法名的规则  前缀是insert  delete update的所有方法  需要事务控制-->
           <tx:method name="insert*" propagation="REQUIRED"/>
           <tx:method name="delete*" propagation="REQUIRED"/>
           <tx:method name="update*" propagation="REQUIRED"/>
           <!--其他方法不需要事务控制   read-only为只读 -->
           <tx:method name="*" read-only="true"/>
       </tx:attributes>
    </tx:advice>
    <!--定义切面-->
    <aop:config>
    	<!--定义切入点-->
    	<aop:pointcut expression="execution(* com.woniu.web.service.impl.*.*(..))" id="transactionPoint"/>
    	<!--织入 在某个切入点执行通知-->
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="transactionPoint"/>
    </aop:config>
</beans>